<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error page</title>
  <link rel="stylesheet" href="/styles/dataErrorDetail.css">
</head>

<body class="bodyDetail">
  <header class="headerDetail">
    <a class="headerBrandDetail" href="http://localhost:5173" title="Haz click para volver a la página inicial">
      <img class="headerCompanyLogoDetail" src="/img/laptop-code-solid.svg" alt="Logo proyectos molones" />
      <h1 class="headerTitleDetail">Proyectos molones</h1>
    </a>
    <img class="logoSponsorDetail" src="/img/adalab.png" alt="Logo Adalab" />
  </header>
  <main class="mainDetail">
    <div class="cardDetail">
      <h2 class="cardTitleError">¡Ups! Algo ha ido mal...</h2>
      <p class="cardTextDetail">Por favor, vuelve a intentarlo más tarde.</p>
      <a class="cardLinkDetail" href="http://localhost:5173">Volver al inicio</a>
    </div>
    </main>
    <footer class="footerDetail">
      <img class="logoSponsorDetail" src="/img/adalab.png" alt="Logo Adalab" />
    </footer>
</body>

</html>