/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONDO LILA GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2f2c4a; /* LILA OSCURO */
  padding: 40px 20px;
}

/* CARD BLANCA */
.detail {
  max-width: 900px;
  margin: auto;
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px #fff;
}

/* =====================
   AUTOR
===================== */
.author {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-block: 1rem;
}

.author__photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.author__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.author__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.author__info--job {
  color: #7a78a5;
  font-size: 1.4rem;
}

.author__info--name {
  font-size: 2rem;
  color: #2f2c4a;
}

/* =====================
   PROYECTO
===================== */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.project__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project__header--name {
  font-size: 2.2rem;
  font-weight: 700;
  color: #5f5cd9;
}
.project__header--slogan {
  color: #7a78a5;
  font-style: italic;
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project__info--title {
  font-size: 1.8rem;
  color: #2f2c4a;
}

.project__info--description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.project__info--technologies {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2f2c4a;
}

.project__image {
  width: 90%;
  height: auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 2px 2px 10px #2f2c4a;
}
.project__image--img {
  width: 100%;
  height: auto;
  object-fit: initial;
  display: block;
}

/* =====================
   LINKS (BOTONES LILAS)
===================== */

.project__links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.project__links--two {
  justify-content: space-around;
}

.project__links--one {
  justify-content: flex-end;
}

.project__links--link {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #2f2c4a;
}

.demo {
  background-image: url("/img/globe-solid.svg");
}

.repo {
  background-image: url("../img/github.svg");
}
.project__links--link:hover {
  background-color: #5f5cd9;
}

/* =====================
   VOLVER
===================== */
.back {
  display: inline-block;
  text-decoration: none;
  color: #7a78f2;
  font-size: 1.4rem;
  font-weight: 600;
  padding-block: 0.8rem;
}

.back:hover {
  transform: scale(1.05);
  color: #5f5cd9;
}

/* =====================
   RESPONSIVE
===================== */

@media (min-width: 1024px) {
  .detail {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "author header"
      "info image"
      "links back";
    column-gap: 2.5rem;
    row-gap: 2rem;
  }

  .author {
    grid-area: author;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-block: 0;
  }

  .author__info {
    gap: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .project {
    display: contents;
  }

  .project__header {
    grid-area: header;
    align-items: center;
    justify-content: center;
  }
  .project__header--name {
    font-size: 3rem;
  }
  .project__header--slogan {
    font-size: 1.6rem;
    text-align: center;
  }

  .project__info {
    grid-area: info;
    justify-content: center;
  }

  .project__image {
    grid-area: image;
    margin-top: 0.5rem;
  }

  .project__links {
    grid-area: links;
    gap: 3rem;
  }

  .project__links--link {
    width: 2.5rem;
    height: 2.5rem;
  }

  .back {
    grid-area: back;
    justify-self: end;
    align-self: end;
    padding-block: 1rem;
  }
}
